<header>
  <section class="section">
    <div class="container has-text-centered">
      <h1 id="header-title" class="title is-size-2">
        <a class="has-text-grey-dark" href="/">Ruslan Kiyanchuk</a>
      </h1>
      <h2 id="header-subtitle" class="is-family-sans-serif is-size-5 has-text-grey">
        Cryptography&nbsp• Software&nbspEngineering&nbsp• Application&nbspSecurity
      </h2>
    </div>
  </section>

  <hr class="my-1">
  <nav class="level is-size-5 my-1">

    <!-- Navigation bar -->
    <div class="level-item has-text-left"></div>
    {{ range .Site.Menus.main }}
    <a class="level-item is-narrow has-text-dark mx-3 px-3 py-2 is-active" href="{{ .URL }}">
      {{ $text := print .Name | safeHTML }}
      {{ $text }}
    </a>
    {{ end }}
    </p>
    <div class="level-item has-text-right"></div>

  </nav>
  <hr class="mt-0 mb-5">
</header>