@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'FixelDisplay';
    src: url('../fonts/FixelDisplay/FixelDisplay-ExtraLight.woff2') format('woff2');
  }

@font-face {
    font-family: 'FixelDisplay';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/FixelDisplay/FixelDisplay-SemiBold.woff2') format('woff2');
  }


html {
  font-size: 17px;
}

.container {
    max-width: 80ch !important;
}

header > h1 {
    font-family: serif !important;
}

.font-fixel {
    font-family: 'FixelDisplay', serif;
}

#header-title {
    font-family: 'FixelDisplay' !important;
    /* font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif !important; */
    /* font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif; */
}
#header-subtitle {
    /* font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif !important; */
    font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.level-item:hover {
    background-color: #fafafa;
  }

.tryzub {
    font-size: 6rem;
    font-weight: 300;
}

#TableOfContents * ol,
#TableOfContents * ul {
    margin-top: 0 !important;
    margin-left: 1em !important;
}