html {
  font-size: 17px;
}

.container {
    max-width: 80ch !important;
}

header > h1 {
    font-family: serif !important;
}

#header-title {
    font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif !important;
    /* font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif; */
}
#header-subtitle {
    /* font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif !important; */
    font-family: 'Libertinus', Georgia, Cambria, 'Times New Roman', Times, serif !important;
}

.level-item:hover {
    background-color: #fafafa;
  }